<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Nosotros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sucursales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Atención al cliente</a>
    </li>
  </ul>